name: Java CI with Gradle
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
    build-forge-archive-rfg:
    runs-on: windows-latest
    strategy:
      matrix:
        version: [ '1.7.10' ]
    steps:
      - uses: actions/checkout@main
      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          java-version: '21'
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main
        with:
          cache-disabled: true
      - name: Build with Gradle
        working-directory: ./appForgeArchive
        run: ./gradlew :${{matrix.version}}:build
      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: archive-forge-${{matrix.version}}
          path: ./appForgeArchive/${{matrix.version}}/build/libs/*.jar